@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding-top: 80px;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #212121;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* :focus {
  outline: none;
}

a {
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
}

.section {
  padding-bottom: 94px;
}

.section-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
  }
}

.conteiner {
  /* outline: 2px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.header-conteiner {
  position: relative;
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  background-color: #fff;
}

.burger-button .icon-menu {
  display: none;
}

.burger-button.is-open .icon-menu {
  display: block;
}

.burger-button.is-open .icon-cross {
  display: none;
}

.icon-menu:hover,
.icon-menu:focus,
.icon-cross:hover,
.icon-cross:focus {
  fill: #188ce8;
}

.conteiner-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (max-width: 767px) {
  .conteiner-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0 60px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    text-align: center;
  }
  .conteiner-menu.is-open {
    display: block;
  }
}

.conteiner .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.logo {
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: block;
  padding-top: 24px;
  /* padding-bottom: 25px; */
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.logo-footer-studio {
  color: #ffffff;
}

.link {
  color: #757575;
}

.link:hover, .link:focus {
  color: #188ce8;
}

.link .icon-nav {
  position: relative;
  top: 1.5px;
  margin-right: 10px;
}

.link .phone {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: inline-block;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 81px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .list-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
}

.site-nav .link.current {
  position: relative;
  color: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  outline: none;
  color: #188ce8;
}

.auth-nav {
  display: block;
}

@media screen and (min-width: 768px) {
  .auth-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .auth-nav-list .item:not(:last-child) {
    margin-right: 30px;
  }
}

.auth-nav .link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .auth-nav .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav .item {
    text-align: start;
  }
}

.hero {
  height: 600px;
  max-width: 1600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(47, 48, 58, 0.8);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url("../images/heroimage.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/heroimage.jpg");
  /* background-color: var(--primary-text-color); */
  text-align: center;
  padding-bottom: 94px;
}

@media screen and (min-device-pixel-ratio: 1), screen and (-webkit-min-device-pixel-ratio: 1), screen and (min-resolution: 96dpi), screen and (min-resolution: 1dppx) {
  .box {
    background-image: url("../images/hero-desc.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .box {
    background-image: url("../images/hero-desc@x2.jpg");
  }
}

.hero-title {
  /* position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px; */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  max-width: 696px;
  /* or 136% */
  padding-top: 200px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.burger-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

.button-hero {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 1.87;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  min-width: 200px;
  height: 50px;
  border: 1px solid transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  line-height: 1.87;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus,
.button-footer:hover,
.button-footer:focus {
  outline: none;
  cursor: pointer;
  background-color: #188ce8;
  color: #ffffff;
}

/* button close */
.close-button {
  position: absolute;
  bottom: 100%;
  left: 100%;
  -webkit-transform: translate(-130%, 130%);
          transform: translate(-130%, 130%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.close-button:hover {
  fill: #188ce8;
}

.icon-form-close {
  position: absolute;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  width: 15px;
  height: 15px;
}

/* button submit modal */
.submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border: #2196f3;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
  color: #ffffff;
}

/* модалка */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  z-index: 101;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 95%;
  height: 609px;
  padding: 40px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

/* оформление формы */
.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .form {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    width: 448px;
    height: 324px;
  }
}

.form-field {
  position: relative;
  height: 40px;
  margin-bottom: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field input {
  margin-bottom: 28px;
  padding: 12px 42px;
  border: 1px solid #757575;
  border-radius: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
}

.form-input:focus,
.textarea:focus {
  border-color: #2196f3;
}

.form-label {
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

/* .form-field > .textarea {
  width: 448px;
  height: 120px;

  padding: 10px;

  resize: none;
  border: 1px solid #757575;
  border-radius: 4px;
} */
.form-input.textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
  padding: 10px;
  resize: none;
  border: 1px solid #757575;
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .form-input.textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form-input.textarea {
    width: 448px;
  }
}

.textarea-div {
  position: relative;
}

.textarea-label {
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-div:focus-within > .textarea-label,
.textarea:not(:placeholder-shown) + .textarea-label {
  -webkit-transform: translateY(-40px) translateX(-4px);
          transform: translateY(-40px) translateX(-4px);
  color: #2196f3;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input.textarea:focus {
  border-color: #2196f3;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label,
.textarea:focus + .form-label,
.textarea:not(:placeholder-shown) + .form-label {
  -webkit-transform: translateY(-40px) translateX(-30px);
          transform: translateY(-40px) translateX(-30px);
  color: #2196f3;
}

.icon-form .icon {
  position: absolute;
  top: 50%;
  left: 19px;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-input:focus ~ .icon-form .icon,
.form-input:not(:placeholder-shown) ~ .icon-form .icon {
  fill: #2196f3;
}

/* checkbox */
.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 12px;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .label-checkbox {
    font-size: 14px;
    line-height: 1.7;
  }
}

.icon-checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  background-image: url("../images/full-check.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-link {
  display: inline-block;
  text-decoration: underline;
  color: #2196f3;
  padding-left: 4px;
}

.modal-b {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 1.15;
  font-size: 20px;
  text-align: center;
}

/* advantage */
.advantage-list {
  padding-top: 94px;
}

@media screen and (min-width: 480px) {
  .advantage-list {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 768px;
    margin: -15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    max-width: 1200px;
  }
}

.advantage-list .item {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .advantage-list .item {
    width: 450px;
    height: 226px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-list .item {
    height: 251px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-list .item {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.advantage-svg-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .advantage-svg-div {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .advantage-svg-div {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-svg-div {
    width: 270px;
  }
}

.icon-advantage {
  width: 70px;
  height: 70px;
  display: block;
  margin: auto;
}

.advantages {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .advantages {
    text-align: center;
  }
}

/* directions */
.section-what-we-doing {
  padding-bottom: 94px;
}

@media screen and (max-width: 1200px) {
  .section-what-we-doing {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .what-we-doing {
    display: none;
  }
}

.directions-list .item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 370px;
  height: 294px;
}

.directions-list .item + .item {
  margin-left: 26px;
}

.doing {
  position: relative;
}

.text-doing {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.doing:hover .text-doing,
.doing:focus .text-doing {
  opacity: 1;
  /* transition: 250ms display linear; */
}

.section-comand {
  margin-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section-comand {
    margin-bottom: 94px;
  }
}

.comand-conteiner {
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .comand-conteiner {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .comand-conteiner {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .comand-conteiner {
    max-width: 1200px;
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .comand-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.comand-list .item {
  margin-bottom: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) {
  .comand-list .item {
    width: 450px;
    height: 482px;
  }
}

@media screen and (min-width: 768px) {
  .comand-list .item {
    height: 422px;
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .comand-list .item {
    height: 422px;
    width: calc((100% - 8 * 15px) / 4);
  }
}

.foto-comand {
  margin-bottom: 30px;
}

.name-member {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-left: 32px;
  margin-right: 32px;
}

.social-networks li {
  margin-bottom: 24px;
}

.social-networks .link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 44px;
  height: 44px;
}

.social-border:not(:first-child) {
  margin-left: 10px;
}

.socialicon {
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialicon:hover,
.socialicon:focus {
  fill: #ffffff;
  background-color: #188ce8;
}

.social-networks .link:hover,
.social-networks .link:focus {
  border-radius: 50%;
  background-color: #188ce8;
}

.icon-social:hover,
.icon-social:focus {
  fill: #ffffff;
}

.section-text {
  color: #757575;
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.prof {
  text-align: center;
  color: #757575;
  margin: 0;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 479px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 480px) {
  .customers-list {
    max-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    max-width: 1200px;
  }
}

@media screen and (max-width: 479px) {
  .customers-list .item {
    width: calc((100% - 6 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .customers-list .item {
    width: calc((100% - 6 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list .item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .customers-list .item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.customer-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 479px) {
  .customer-link {
    width: 100%;
    margin: 15px;
  }
}

@media screen and (min-width: 480px) {
  .customer-link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .customer-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customer-link {
    width: 170px;
  }
}

.customer-link:hover,
.customer-link:focus {
  border-color: #188ce8;
  fill: #188ce8;
}

.customer-logo {
  margin: auto;
}

.bgfooter {
  padding: 60px 15px 60px 15px;
  background-color: #2f303a;
}

.main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 480px) {
  .main-div {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .main-div {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .main-div {
    max-width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .div-for-tablet-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .div-for-tablet-footer {
    margin-left: 0;
  }
}

.cont-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .cont-address {
    display: block;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1200px -1px) {
  .foot {
    text-align: center;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-style: inherit;
  margin-top: 8px;
}

@media screen and (max-width: 1199px) {
  .address {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .address {
    width: 231px;
    margin-right: 69px;
  }
}

.footext {
  color: #fff;
}

.fta {
  width: 232px;
}

.foot-link {
  margin-bottom: 9px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social {
    width: 206px;
    margin-right: 94px;
  }
}

.join {
  text-align: center;
  margin-bottom: 20px;
  /* margin-top: 57px; */
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
}

.social-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #757575;
  fill: #fff;
  margin-right: 10px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item:hover,
.social-item:focus {
  background-color: #188ce8;
}

.cont-auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .cont-auth {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .cont-auth {
    display: block;
    width: 570px;
  }
}

.add {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.form-footer {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.input-email {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
}

@media screen and (min-width: 480px) {
  .input-email {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .input-email {
    width: 358px;
    margin-left: 0;
    margin-right: 12px;
  }
}

.icon-send {
  margin-left: 10px;
}

.filter-btn {
  padding-top: 93px;
  padding-bottom: 50px;
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* align-items: center; */
}

.btn-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btn-list .item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 73px;
  margin-bottom: 15px;
  color: #212121;
  background-color: #f5f4fa;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .flex-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.item-portfolio {
  border: 1px solid #eeeeee;
  margin-bottom: 30px;
  width: 100%;
  height: 404px;
}

@media screen and (min-width: 480px) {
  .item-portfolio {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .item-portfolio {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .item-portfolio {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
}

.portfolio-img-div {
  position: relative;
  overflow: hidden;
}

.link .section-title {
  color: black;
}

.link .section-title .filter {
  color: #757575;
}

.title-portfolio {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.h-p-portfolio {
  padding-left: 24px;
}

.filter {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-text-div {
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
}

.link-portfolio:hover .portfolio-text-div {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-text-div > p {
  margin: 0;
  padding: 64px 24px 64px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.link-portfolio > p {
  color: #757575;
}

.item-portfolio:hover {
  color: #757575;
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
/*# sourceMappingURL=main.css.map */