.header-conteiner {
  position: fixed;
  z-index: 100;
  width: 100%;
  min-height: 80px;
  top: 0;
  left: 0;
  background-color: #fff;
}

.conteiner .line {
  display: flex;
  align-items: baseline;
}

.logo {
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  display: block;
  padding-top: 24px;
  /* padding-bottom: 25px; */
}

.logo-web {
  color: $accent-color;
}

.logo-studio {
  color: #000000;
}

.logo-footer-studio {
  color: #ffffff;
}

.link {
  color: $link-color;

  &:hover,
  &:focus {
    color: $hover-color;
  }
}

.link .icon-nav {
  position: relative;
  top: 1.5px;
  margin-right: 10px;
}

.link .phone {
  position: relative;
  top: 2px;
  margin-right: 10px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link.current {
  position: relative;
  color: $accent-color;
}

.current::after {
  content: "";

  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  outline: none;
  color: $hover-color;
}

.auth-nav {
  display: inline-flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.auth-nav .link {
  align-items: center;
}

.auth-nav .item + .item {
  margin-left: 30px;
}
